<h1> edit item </h1>
<%= form_for(@portfolio_item) do |form| %>

    <div class="field">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
        <%= form.label :subtitle, style: "display: block" %>
        <%= form.text_field :subtitle %>
    </div>

    <div class="field">
        <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
    </div>
  
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  